/*  Google Font CDN  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
}

.header {
  padding-top: 3rem;
}

.header .logo {
  text-align: center;
  font-size: 8rem;
  font-weight: 900;
  font-style: italic;
}

.header .topic_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.8rem;
  border-top: 4px double #ebebeb;
  border-bottom: 4px double #555;
}

.header .topic_list button {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 0.5rem;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.header .topic_list button:hover {
  opacity: 1;
}


.header .topic_list button:last-child {
  margin-right: 0;
}

.news_item {
  border-bottom: 2px solid #555;
  padding: 2rem;
  max-height: 280px;
}

.news_item:last-child {
  border-bottom: none;
}

.news_item .thumb img {
  max-width: 100%;
  height: auto;
}

.news_item .desc h1 {
}

.news_item .desc p {
  font-size: 1.6rem;
}

.news_item .desc span {
  font-size: 1.4rem;
}